In [9]:
import pandas as pd
import numpy as np

#File paths for csv's

file_path_schools = "PyCitySchools/Resources/schools_complete.csv"
file_path_students = "PyCitySchools/Resources/students_complete.csv"

#Read csv's
schools_df = pd.read_csv(file_path_schools)
students_df = pd.read_csv(file_path_students)

#Seeing what they have in common
schools_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [10]:
#seeing what they have in common
students_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [11]:
school_count= schools_df["school_name"].count()
student_count = students_df["Student ID"].count()
tot_budget = schools_df["budget"].sum()
mean_reading_score = students_df["reading_score"].mean()
mean_math_score = students_df["math_score"].mean()

In [12]:
#Calulate number of students passing math and then use total student count to calculate % passing math. 
pass_math_df_cnt = students_df.loc[students_df["math_score"] > 70,:]["Student ID"].count()
#pass_math_df_cnt
pass_math_percent = (pass_math_df_cnt / student_count)*100

In [13]:
#Calc % passing reading in a similar fashion. 
pass_reading_df_cnt = students_df.loc[students_df["reading_score"] > 70]["Student ID"].count()
pass_reading_percent = (pass_reading_df_cnt / student_count)*100

In [14]:
#calc overall pass percent as average of % passing math and % passing  reading.
overall_pass_percent = (pass_math_percent + pass_reading_percent) / 2

In [15]:
#Create a summary dict with all the values calculated above and covert to a dataframe. 
summary_dict={"Total Schools": [school_count], "Total Students": [student_count],"Total Budget":tot_budget,
              "Average Math Score":mean_math_score,"Average Reading Score":mean_reading_score,
              "% Passing Math":pass_math_percent,"% Passing Reading":pass_reading_percent,
              "Overall Passing Rate":overall_pass_percent
             }

summary_dist_df = pd.DataFrame(summary_dict,columns=["Total Schools","Total Students","Total Budget","Average Math Score",
                                                     "Average Reading Score","% Passing Math","% Passing Reading",
                                                     "Overall Passing Rate"
                                                    ])

In [16]:
#Final district summary and formatting based on above values. 
summary_dist_df["Total Students"] = summary_dist_df["Total Students"].map("{:,}".format)
summary_dist_df["Total Budget"]   = summary_dist_df["Total Budget"].map("${:,.2f}".format)
summary_dist_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,72.392137,82.971662,77.681899

In [17]:
#Perform steps to determine values needed for school summary.
schools_ren_df = schools_df.rename(columns={"school_name": "school"})
#schools_ren_df = schools_ren_df.set_index("school")
del schools_ren_df["School ID"]
schools_ren_df.head(2)

                 school      type  size   budget
0     Huang High School  District  2917  1910635
1  Figueroa High School  District  2949  1884411

In [18]:
#mean of reading and math scores by school
students_df_groupsch_avg = students_df.groupby('school_name').mean()
del students_df_groupsch_avg["Student ID"]
students_df_groupsch_avg.reset_index(level=0, inplace=True)
students_df_groupsch_avg = students_df_groupsch_avg.rename(columns={"reading_score":"avg_reading_score",
                                                                    "math_score":"avg_math_score"})

In [19]:
#total students by school.
students_df_groupsch_totstudents = students_df.groupby('school_name').count()
students_df_groupsch_totstudents = students_df.groupby(['school_name'])["student_name"].count()

students_df_groupsch_totstudents = pd.DataFrame(students_df_groupsch_totstudents,columns=["Total Student Count"])
students_df_groupsch_totstudents.reset_index(level=0,inplace=True)
del students_df_groupsch_totstudents[["name","gender","grade","reading_score","math_score"]]
students_df_groupsch_totstudents= students_df_groupsch_totstudents[["school","name"]]
students_df_groupsch_totstudents = students_df_groupsch_totstudents.rename(columns={"name":"Total_student_count"})
students_df_groupsch_totstudents.head(3)

TypeError: '['name', 'gender', 'grade', 'reading_score', 'math_score']' is an invalid key