In [2]:
#Import dependencies
import pandas as pd
import numpy as np

#File paths for csv's

file_path_schools = "PyCitySchools/Resources/schools_complete.csv"
file_path_students = "PyCitySchools/Resources/students_complete.csv"

#Read csv's
schools_data = pd.read_csv(file_path_schools)
students_data = pd.read_csv(file_path_students)

#Seeing what they have in common
print(schools_data.head())
print(students_data.head())

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500
   Student ID       student_name gender grade        school_name  \
0           0       Paul Bradley      M   9th  Huang High School
1           1       Victor Smith      M  12th  Huang High School
2           2    Kevin Rodriguez      M  12th  Huang High School
3           3  Dr. Richard Scott      M  12th  Huang High School
4           4         Bonnie Ray      F   9th  Huang High School

   reading_score  math_score
0             66          79
1             94          61
2             90          60
3             67          58
4             97          84

## Setting up the dataframes

In [3]:
school_data_complete = pd.merge(students_data, schools_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## Analyzing the dataframe

In [4]:
#Checking data types that will be good to know later for manipulation
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [7]:
#Checking data to look for any NaN's
print (school_data_complete.isnull().sum())

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
School ID        0
type             0
size             0
budget           0
dtype: int64

In [8]:
#Checking the column names
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [9]:
#Setting a new index for Student ID
school_new_index = school_data_complete.set_index('Student ID')
school_new_index.head()

,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
Student ID,,,,,,,,,,
0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## Getting the numbers

In [10]:
number_of_schools = len(school_new_index['school_name'].unique())
print(number_of_schools)

15

In [11]:
#Checking if the number of students are unique
number_of_students = len(school_new_index['student_name'].unique())
print(number_of_students)

32715

In [12]:
#Checking how many rows are in the dataframe
school_new_index.shape

(39170, 10)

In [13]:
#Names are repeated, checking to see if there are duplicate names or different people
#Appears the repeated names are different people in different grades and different schools so going to assume every
#student name is a new person
pd.concat(g for _, g in school_new_index.groupby("student_name") if len(g) > 1)

,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
Student ID,,,,,,,,,,
13634,Aaron Evans,M,11th,Griffin High School,74,83,4,Charter,1468,917500
18279,Aaron Evans,M,12th,Bailey High School,93,76,7,District,4976,3124928
15284,Aaron Gonzalez,M,10th,Wilson High School,98,92,5,Charter,2283,1319574
18153,Aaron Gonzalez,M,11th,Bailey High School,81,60,7,District,4976,3124928
31400,Aaron Holmes,M,10th,Johnson High School,82,82,12,District,4761,3094650
38299,Aaron Holmes,M,10th,Thomas High School,76,72,14,Charter,1635,1043130
12350,Aaron Johnson,M,12th,Griffin High School,80,71,4,Charter,1468,917500
13875,Aaron Johnson,M,9th,Wilson High School,84,90,5,Charter,2283,1319574
24236,Aaron Johnson,M,10th,Wright High School,89,72,10,Charter,1800,1049400
28906,Aaron Johnson,M,9th,Rodriguez High School,94,62,11,District,3999,2547363
21693,Aaron Mitchell,M,10th,Bailey High School,94,60,7,District,4976,3124928
27078,Aaron Mitchell,M,12th,Rodriguez High School,93,57,11,District,3999,2547363
9543,Aaron Perez,M,9th,Hernandez High School,88,73,3,District,4635,3022020
24928,Aaron Perez,M,10th,Wright High School,73,87,10,Charter,1800,1049400
38140,Aaron Perez,M,9th,Thomas High School,75,81,14,Charter,1635,1043130
297,Aaron Rodriguez,M,11th,Huang High School,75,78,0,District,2917,1910635
18421,Aaron Rodriguez,M,9th,Bailey High School,69,93,7,District,4976,3124928
14004,Aaron Smith,M,12th,Wilson High School,98,98,5,Charter,2283,1319574
17670,Aaron Smith,M,10th,Cabrera High School,87,74,6,Charter,1858,1081356
23963,Aaron Smith,M,9th,Pena High School,99,70,9,Charter,962,585858
18462,Aaron Thompson,M,12th,Bailey High School,74,78,7,District,4976,3124928
24314,Aaron Thompson,M,10th,Wright High School,96,91,10,Charter,1800,1049400
10490,Aaron Williams,M,9th,Hernandez High School,66,84,3,District,4635,3022020
16468,Aaron Williams,M,11th,Cabrera High School,75,96,6,Charter,1858,1081356
4370,Aaron Wilson,M,9th,Figueroa High School,82,58,1,District,2949,1884411
27928,Aaron Wilson,M,12th,Rodriguez High School,95,69,11,District,3999,2547363
16791,Abigail Casey,F,11th,Cabrera High School,99,87,6,Charter,1858,1081356
19604,Abigail Casey,F,11th,Bailey High School,73,83,7,District,4976,3124928
23767,Abigail Miller,F,12th,Pena High School,77,84,9,Charter,962,585858
29024,Abigail Miller,F,11th,Rodriguez High School,79,72,11,District,3999,2547363
...,...,...,...,...,...,...,...,...,...,...
752,Xavier Mitchell,M,12th,Huang High School,63,95,0,District,2917,1910635
22316,Xavier Mitchell,M,10th,Bailey High School,92,71,7,District,4976,3124928
212,Zachary Allen,M,10th,Huang High School,64,87,0,District,2917,1910635
13811,Zachary Allen,M,12th,Wilson High School,69,90,5,Charter,2283,1319574
2052,Zachary Brady,M,9th,Huang High School,89,68,0,District,2917,1910635
18399,Zachary Brady,M,11th,Bailey High School,76,85,7,District,4976,3124928
8177,Zachary Davis,M,12th,Hernandez High School,79,68,3,District,4635,3022020
38431,Zachary Davis,M,9th,Thomas High School,78,69,14,Charter,1635,1043130
14101,Zachary Green,M,11th,Wilson High School,88,85,5,Charter,2283,1319574
22437,Zachary Green,M,12th,Bailey High School,68,58,7,District,4976,3124928
760,Zachary Jones,M,12th,Huang High School,74,80,0,District,2917,1910635
24332,Zachary Jones,M,12th,Wright High School,89,91,10,Charter,1800,1049400
33758,Zachary Jones,M,9th,Johnson High School,68,97,12,District,4761,3094650
21800,Zachary Parker,M,10th,Bailey High School,63,79,7,District,4976,3124928
35969,Zachary Parker,M,10th,Ford High School,93,62,13,District,2739,1763916
28384,Zachary Pham,M,10th,Rodriguez High School,72,58,11,District,3999,2547363
33238,Zachary Pham,M,11th,Johnson High School,71,75,12,District,4761,3094650
1884,Zachary Rivera,M,9th,Huang High School,83,86,0,District,2917,1910635
21777,Zachary Rivera,M,9th,Bailey High School,63,62,7,District,4976,3124928
9280,Zachary Smith,M,11th,Hernandez High School,91,94,3,District,4635,3022020
15515,Zachary Smith,M,11th,Wilson High School,87,77,5,Charter,2283,1319574
25920,Zachary Smith,M,10th,Wright High School,87,86,10,Charter,1800,1049400
36232,Zachary Smith,M,12th,Ford High School,79,59,13,District,2739,1763916
5597,Zachary Torres,M,11th,Figueroa High School,66,79,1,District,2949,1884411
9029,Zachary Torres,M,10th,Hernandez High School,73,88,3,District,4635,3022020
6762,Zachary Williams,M,11th,Shelton High School,97,77,2,Charter,1761,1056600
17889,Zachary Williams,M,12th,Bailey High School,77,89,7,District,4976,3124928
20464,Zachary Williams,M,9th,Bailey High School,97,55,7,District,4976,3124928
14411,Zoe Hawkins,F,9th,Wilson High School,77,71,5,Charter,2283,1319574
23034,Zoe Hawkins,F,11th,Holden High School,97,75,8,Charter,427,248087

In [24]:
#Calculate the total number of students
tot_students = school_new_index.shape[0]

#Calculate the total budget
tot_budget = 0
#Calculate the average math score
avg_math_score = school_new_index['math_score'].mean()

#Calculate the average reading score
avg_reading_score = school_new_index['reading_score'].mean()

#Calculate the overall passing rate (overall average score)
overall_pass_rate = (avg_math_score + avg_reading_score) / 2

#Calculate the percentage of students with a passing math score (70 or greater)
pass_rate_math = len(school_new_index[school_new_index.math_score >= 70]) / school_new_index.shape[0]

#Calculate the percentage of students with a passing reading score (70 or greater)
pass_rate_read = len(school_new_index[school_new_index.reading_score >= 70]) / school_new_index.shape[0]



#school_new_index['budget'].sum()

In [37]:
district = (number_of_schools, tot_students, tot_budget, 
            avg_math_score, avg_reading_score, pass_rate_math,
            pass_rate_read, overall_pass_rate)
District_Summary = pd.DataFrame([district], columns= ['Total School', 'Total Students', 'Total Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math',
            '% Passing Reading','% Overall Passing Rate'])
District_Summary

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,0,78.985371,81.87784,0.749809,0.858055,80.431606